* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.login-img img,
.login-list li,
.nav img,
.gnb-list li,
.ic-search,
.icon-1,
.icon-2 {
  cursor: pointer;
}


.login {
  width: 100%;
  justify-content: space-between;
  display: flex;
  background-color: #eee;
  padding: 10px 50px;
}

.login-img img {
  margin-left: 25px;
}

.login-img img:first-child {
  margin-left: 0;
}

.login-img img:hover {
  opacity: .5;
}

.login-item {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

.login-item:hover {
  color: #818181;
}

.login-item::after {
  content: '';
  width: 1px;
  height: 13px;
  background-color: #000;
  margin-left: 15px;
  margin-top: 2px;
}

.login-item:last-child::after {
  content: none;
}

.login-list {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ******************************************************** */
/* Nav.jsx --------------nav */
/* ******************************************************** */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.nav img:hover {
  opacity: .5;
}

.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-left: 150px;
  font-weight: 500;
}

.gnb-item {
  padding: 15px 7px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: border-color 300ms ease-in-out;
}

.gnb-item:hover {
  border-color: black;
}

.gnb-item:last-child {
  margin-right: 0;
}

.icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.search-box {
  position: relative;
}

.ic-search {
  position: absolute;
  top: 10px;
  left: 13px;
}

.search-box input {
  width: 180px;
  height: 42px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding: 0 50px;
}

.search-box input:hover {
  background-color: #dbdbdb;
}

.search-box input::placeholder {
  color: #b3b2b2;
  position: absolute;
  top: 11px;
  left: 50px;
  font-weight: 700;
  font-size: 15px;
}

.icon-1,
.icon-2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  background-color: none;
}

.icon-1:hover,
.icon-2:hover {
  background-color: #eee;
}

.icon-1 {
  margin-right: 10px;
  margin-left: 20px;
}

/* ******************************************************** */
/* Nav.jsx --------------banner */
/* ******************************************************** */
.banner-container {
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
  background-color: #eee;
  border-bottom: 1px solid #dadada;
  transition: transform 0.5s;
}

.banner-list {
  display: flex;
  width: 200vw;
} 

.banner-item {
  width: 100vw;
  transform: all 300ms translateX(-100vw);
}

.banner-item span {
  font-size: 15px;
  font-weight: 500;
}

.banner-link p {
  font-size: 11px;
  margin-top: 10px;
}

.banner-link p a {
  color: #000;
}


/* ******************************************************** */
/* Nav.jsx --------------speacial-container */
/* ******************************************************** */

.speacial-container,
.running-container {
  text-align: center;
  margin-top: 50px;
}

.speacial-container .text h1,
.speacial-container .text p {
  margin-bottom: 15px;
}

.App-box h3 {
  margin-bottom: 30px;
}

.App-box button {
  padding: 10px 20px;
  border: none;
  background-color: #000;
  border-radius: 20px;
}

.App-box button a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}


/* ******************************************************** */
/* ProductCard.jsx */
/* ******************************************************** */
.product img {
  width: 100%;
}

.product div,
.title p  {
  margin-bottom: 5px;
}

.product div:nth-child(3) {
  margin-bottom: 15px;
}

.product-list {
  margin-top: 10px;
  color: rgb(185, 55, 32);
}

.title p:last-child {
  color: #747474;
}
