* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}


/* ******************************************************** */
/* Header.jsx --------------nav */
/* ******************************************************** */

.login-img img,
.login-list li,
.nav img,
.gnb-list li,
.ic-search,
.icon-1,
.icon-2 {
  cursor: pointer;
}

.login {
  width: 100%;
  justify-content: space-between;
  display: flex;
  background-color: #eee;
  padding: 5px 50px;
}

.login-img img {
  margin-left: 25px;
}

.login-img img:first-child {
  margin-left: 0;
}

.login-img img:hover {
  opacity: .5;
}

.login-list {
  margin-bottom: 0;
}

.login-item {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

.login-item:hover {
  color: #818181;
}

.login-item::after {
  content: '';
  width: 1px;
  height: 13px;
  background-color: #000;
  margin-left: 11px;
  margin-top: 3px;
}

.login-item:last-child::after {
  content: none;
}

.login-list {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ******************************************************** */
/* Header.jsx --------------nav */
/* ******************************************************** */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 2px 50px;
  position: fixed;
}

.nav img {
  margin-left: 50px;
}

.nav img:hover {
  opacity: .5;
}

.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-left: 150px;
  font-weight: 500;
  margin-left: 200px;
  margin-bottom: 0;
  padding: 0;
}

.gnb-item {
  padding: 18px 7px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: border-color 300ms ease-in-out;
}

.gnb-item:hover {
  border-color: black;
}

.gnb-item:last-child {
  margin-right: 0;
}

.icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.search-box {
  position: relative;
}

.ic-search {
  position: absolute;
  top: 10px;
  left: 13px;
}

.search-box input {
  width: 180px;
  height: 42px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding: 0 50px;
}

.search-box input:hover {
  background-color: #dbdbdb;
}

.search-box input::placeholder {
  color: #b3b2b2;
  position: absolute;
  top: 11px;
  left: 50px;
  font-weight: 700;
  font-size: 15px;
}

.icon-1,
.icon-2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  background-color: none;
}

.icon-1:hover,
.icon-2:hover {
  background-color: #eee;
}

.icon-1 {
  margin-right: 10px;
  margin-left: 20px;
}

/* ******************************************************** */
/* Main.jsx --------------banner */
/* ******************************************************** */
.emptyBox {
  width: 100%;
  height: 66px;
}

.banner-container {
  background-color: #eee;
  border-bottom: 1px solid #dadada;
  transition: transform 0.5s;
  padding: 5px;
}

.banner-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  padding-left: 0;
} 

.banner-item {
  transform: all 300ms translateX(-100vw);
}

.banner-item span {
  font-size: 15px;
  font-weight: 500;
}

.banner-link p {
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 0;
}

.banner-link p a {
  color: #000;
}

.banner-move {
  display: none;
}

/* ******************************************************** */
/* Main.jsx --------------vedioClip */
/* ******************************************************** */

.vedioClip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.mainTitle {
  font-weight: bold;
  font-size: 50px;
  padding: 40px 0 10px 0;
}

.mainTitle p {
  font-size: 16px;
  margin-bottom: 2px;
}

.appDownload {
  font-weight: bold;
  font-size: 20px;
  color: #444444;
  margin-bottom: 40px;
}

.buyBtn,
.detailBtn {
  border: none;
  border-radius: 30px;
  background-color: #000;
  padding: 5px 15px;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
}

.btnBox button:first-child {
  margin-right: 30px;
}

/* ******************************************************** */
/* Main.jsx --------------TrendingNow */
/* ******************************************************** */

.TrendingNow {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.sampleBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.TrendingNow h1 {
  font-size: 25px;
  font-weight: 500;
  padding: 10px 0;
}

.sample {
  width: 49%;
  height: 800px;
}

.sample img {
  width: 100%;
  height: 100%;
}




/* ******************************************************** */
/* ProductCard.jsx */
/* ******************************************************** */
.product {
  margin-bottom: 30px;
}

.product img {
  width: 100%;
}

.product div,
.title p  {
  margin-bottom: 5px;
}

.product div:nth-child(3) {
  margin-bottom: 15px;
}

.product-list {
  margin-top: 10px;
  color: rgb(185, 55, 32);
}

.title p:last-child {
  color: #747474;
}


/* ******************************************************** */
/* Login.jsx */
/* ******************************************************** */
button:hover {
  opacity: .6;
}

p > span {
  cursor: pointer;
}

/* ******************************************************** */
/* ProductDetail.jsx */
/* ******************************************************** */
.shooseDetailBox {
  width: 400px;
  height: 500px;
}

.DetailHeader {
  width: 100%;
}

.DetailHeader h2 {
  font-weight: 600;
  font-size: 28px;
}

.DetailHeader h4 {
  font-size: 20px;
}

.DetailHeader h5 {
  font-size: 15px;
  font-weight: 600;
}

.DetailHeader p {
  padding: 10px 0 50px 0;
  font-weight: 600;
}

.ChoiceGuideBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.ChoiceGuideBox span:first-child {
  font-weight: bold;
}

.ChoiceGuideBox span:last-child {
  font-weight: bold;
  color: gray;
}

