* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.login-img img,
.login-list li,
.nav img,
.gnb-list li,
.ic-search,
.icon-1,
.icon-2 {
  cursor: pointer;
}


.login {
  width: 100%;
  justify-content: space-between;
  display: flex;
  background-color: #eee;
  padding: 10px 50px;
}

.login-img img {
  margin-left: 25px;
}

.login-img img:first-child {
  margin-left: 0;
}

.login-img img:hover {
  opacity: .5;
}

.login-item {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

.login-item:hover {
  color: #818181;
}

.login-item::after {
  content: '';
  width: 1px;
  height: 13px;
  background-color: #000;
  margin-left: 15px;
  margin-top: 2px;
}

.login-item:last-child::after {
  content: none;
}

.login-list {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.nav img:hover {
  opacity: .5;
}

.gnb-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.gnb-item {
  margin-right: 8px;
  font-weight: 500;
  padding: 15px 7px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: border-color 300ms ease-in-out;
}

.gnb-item:hover {
  border-color: black;
}

.gnb-item:last-child {
  margin-right: 0;
}

.icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.search-box {
  position: relative;
}

.ic-search {
  position: absolute;
  top: 10px;
  left: 13px;
}

.search-box input {
  width: 180px;
  height: 42px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding: 0 50px;
}

.search-box input:hover {
  background-color: #dbdbdb;
}

.search-box input::placeholder {
  color: #b3b2b2;
  position: absolute;
  top: 11px;
  left: 50px;
  font-weight: 700;
  font-size: 15px;
}

.icon-1,
.icon-2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  background-color: none;
}

.icon-1:hover,
.icon-2:hover {
  background-color: #eee;
}

.icon-1 {
  margin-right: 10px;
  margin-left: 20px;
}

.product div,
.title p  {
  margin-bottom: 5px;
}

.product div:nth-child(4) {
  margin-bottom: 15px;
}

.content,
.new {
  margin-top: 5px;
  color: rgb(185, 55, 32);
}

.title p:last-child {
  color: #747474;
}
